<?xml version="1.0" encoding="UTF-8"?>
  <phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    backupGlobals="true"
    colors="true"
  >
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="API_KEY" value="<your-api-key>"/>
    <env name="API_AUTH" value="<your-api-basic-auth>"/>
    <env name="ENTITY_ID" value="<your-api-entity-id>"/>
  </php>
</phpunit>
